/* To have an input value close to its unit for #type 'style_settings_number'.*/
.style-settings-form-align {
  text-align: right; /* LTR */
}

div.style-settings-image-preview {
  float: left; /* LTR */
  padding: 0 10px 0 0; /* LTR */
}

div.style-settings-image-preview img {
  max-width: 150px;
  max-height: 75px;
}

.form-item.form-type-style-settings-imgurl {
  overflow: auto;
}

fieldset.container-inline .fieldset-wrapper .form-item.form-type-managed-file {
  float: right; /* LTR */
}

fieldset.container-inline .fieldset-wrapper .messages.status {
  display: none;
}
